

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(245, 245, 245)
}

.info{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 202, 198);
    width: 50%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.imgUni{
 
    border-radius: 20px;
    padding: 10px;
}

a{
    color: black;
}

li{
    padding: 5px;
    list-style: none;
}


a:hover{
    color: blue;
}